<!DOCTYPE html>
<html>
<head>
<title>Difference in the config</title>
</head>

<body>

<h1>Here are the difference between configs for the all routers</h1>
<br>
</h3>Difference for R1</h3>
<br>
<br>
</h2>{{ diff.R1_adroja }}</h2>
<br>
<br>
<br>

</h3>Difference for R2</h3>
<br>
<br>
</h2>{{ diff.R2_adroja }}</h2>
<br>
<br>
<br>

</h3>Difference for R3</h3>
<br>
<br>
</h2>{{ diff.R3_adroja }}</h2>
<br>
<br>
<br>

</h3>Difference for R4</h3>
<br>
<br>
</h2>{{ diff.R4_adroja }}</h2>

</body>
</html>
