<!DOCTYPE html>
<html>
<head>
<title>OSPF Config</title>

<body>

<h4>Ping result form R1 to all loopbacks</h4>
<br>
</h3>Ping from R1 to loopback of R1</h3>
<br>
<br>
</h2>{{ data.R1_adroja}}</h2>
<br>
<br>
<br>

</h3>Ping from R1 to loopback of R2</h3>
<br>
<br>
</h2>{{ data.R2_adroja }}</h2>
<br>
<br>
<br>

</h3>Ping from R1 to loopback of R3</h3>
<br>
<br>
</h2>{{ data.R3_adroja }}</h2>
<br>
<br>
<br>

</h3>Ping from R1 to loopback of R4</h3>
<br>
<br>
</h2>{{ data.R4_adroja }}</h2>

</body>
</html>
