<!DOCTYPE html>
<html>
<head>
<title>Enter Router Configs</title>
</head>

<body>

<form method='POST' action="/ospf">
<h4>Enter username for R1</h4>
<input type="text" name="r1_username" placeholder="enter username">
<br>
<h4>Enter password for R1</h4>
<input type="text" name="r1_password" placeholder="enter password">
<br>
<h4>Enter OSPF process ID for R1</h4>
<input type="text" name="r1_ospf_process_id" placeholder="enter OSPF process ID">
<br>
<h4>Enter OSPF Area ID for R1</h4>
<input type="text" name="r1_ospf_area_id" placeholder="enter OSPF area ID">
<br>
<h4>Enter OSPF Loopback IP for R1</h4>
<input type="text" name="r1_ospf_loopback_ip" placeholder="enter OSPF loopback IP">
<br>
<h4>Enter other networks IP for R1 (format of input should be Network IP:area & separate each entry with comma)</h4>
<input type="text" name="r1_ospf_network" placeholder="enter other network IP">
<br>
<h4>Enter interface IP to SSH into R1</h4>
<input type="text" name="r1_ssh_ip" placeholder="enter SSH IP">
<br>

<h4>Enter username for R2</h4>
<input type="text" name="r2_username" placeholder="enter username">
<br>
<h4>Enter password for R2</h4>
<input type="text" name="r2_password" placeholder="enter password">
<br>
<h4>Enter OSPF process ID for R2</h4>
<input type="text" name="r2_ospf_process_id" placeholder="enter OSPF process ID">
<br>
<h4>Enter OSPF Area ID for R2</h4>
<input type="text" name="r2_ospf_area_id" placeholder="enter OSPF area ID">
<br>
<h4>Enter OSPF Loopback IP for R2</h4>
<input type="text" name="r2_ospf_loopback_ip" placeholder="enter OSPF loopback IP">
<br>
<h4>Enter other networks IP for R2 (format of input should be Network IP:area & separate each entry with comma)</h4>
<input type="text" name="r2_ospf_network" placeholder="enter other network IP">
<br>
<h4>Enter interface IP to SSH into R2</h4>
<input type="text" name="r2_ssh_ip" placeholder="enter SSH IP">
<br>

<h4>Enter username for R3</h4>
<input type="text" name="r3_username" placeholder="enter username">
<br>
<h4>Enter password for R3</h4>
<input type="text" name="r3_password" placeholder="enter password">
<br>
<h4>Enter OSPF process ID for R3</h4>
<input type="text" name="r3_ospf_process_id" placeholder="enter OSPF process ID">
<br>
<h4>Enter OSPF Area ID for R3</h4>
<input type="text" name="r3_ospf_area_id" placeholder="enter OSPF area ID">
<br>
<h4>Enter OSPF Loopback IP for R3</h4>
<input type="text" name="r3_ospf_loopback_ip" placeholder="enter OSPF loopback IP">
<br>
<h4>Enter other networks IP for R3 (format of input should be Network IP:area & separate each entry with comma)</h4>
<input type="text" name="r3_ospf_network" placeholder="enter other network IP">
<br>
<h4>Enter interface IP to SSH into R3</h4>
<input type="text" name="r3_ssh_ip" placeholder="enter SSH IP">
<br>

<h4>Enter username for R4</h4>
<input type="text" name="r4_username" placeholder="enter username">
<br>
<h4>Enter password for R4</h4>
<input type="text" name="r4_password" placeholder="enter password">
<br>
<h4>Enter OSPF process ID for R4</h4>
<input type="text" name="r4_ospf_process_id" placeholder="enter OSPF process ID">
<br>
<h4>Enter OSPF Area ID for R4</h4>
<input type="text" name="r4_ospf_area_id" placeholder="enter OSPF area ID">
<br>
<h4>Enter OSPF Loopback IP for R4</h4>
<input type="text" name="r4_ospf_loopback_ip" placeholder="enter OSPF loopback IP">
<br>
<h4>Enter other networks IP for R4 (format of input should be Network IP:area & separate each entry with comma)</h4>
<input type="text" name="r4_ospf_network" placeholder="enter other network IP">
<br>
<h4>Enter interface IP to SSH into R4</h4>
<input type="text" name="r4_ssh_ip" placeholder="enter SSH IP">
<br>

<input class="text" type="submit" value="Submit">

</form>

</body>
</html>
